@page "/Battle"

@using DataLibrary.Models
@using DataLibrary.Services
@inject HamsterService hamsterService;


<div class="row justify-content-center text-center" >
<h2><strong>Klicka på hamstern som du tycker är coolast</strong></h2>
   
<div class="card col col-4 d-flex" style="width: 25rem;">
    <img class="card-img-top btn hamster-bild" @onclick="@(x => AddWin(@hamster1,@hamster2))" src="@hamster1.ImgName" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@hamster1.Name</h5>
        <p class="card-text">
           Loves: @hamster1.Loves
            <br />
          Fav Food: @hamster1.FavFood
        </p>
    </div>
</div>
<div class="card col col-4 d-flex" style="width: 25rem;">
    <img class="card-img-top btn hamster-bild" @onclick="@(x => AddWin(@hamster2,@hamster1))"  src="@hamster2.ImgName" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@hamster2.Name</h5>
        <p class="card-text">
           Loves: @hamster2.Loves
            <br />
           Fav Food: @hamster2.FavFood
        </p>
       
    </div>
</div>

</div>
<hr />
@if (OldHamster1 != null && OldHamster2 != null)
{
    
<PreviousHamsterComponent Hamster1="OldHamster1" Hamster2="OldHamster2"></PreviousHamsterComponent>
}