@page "/battle"

<PageTitle>Battle between @hamster1.Name and @hamster2.Name</PageTitle>

@using DataLibrary.Models
@using DataLibrary.Services
@inject HamsterService hamsterService;
@inject MatchService matchService;

<div class="row justify-content-center text-center" >
<h2 class="card-goodies"><strong>VOTE ON THE CUTEST</strong></h2>
   
<div class="card col col-sm-4 d-flex card-goodies" style="width: 25rem;">
    <img class="card-img-top btn hamster-bild" @onclick="@(x => AddWin(hamster1,@hamster2))" src="@hamster1.ImgName" alt="...">
    <div class="card-body">
        <h5 class="card-title">@hamster1.Name</h5>
        <p class="card-text">
           Loves: @hamster1.Loves
            <br />
          Fav Food: @hamster1.FavFood
        </p>
    </div>
</div>
<div class="card col col-sm-4 d-flex card-goodies" style="width: 25rem;">
    <img class="card-img-top btn hamster-bild " @onclick="@(x => AddWin(@hamster2,hamster1))"  src="@hamster2.ImgName" alt="...">
    <div class="card-body">
        <h5 class="card-title">@hamster2.Name</h5>
        <p class="card-text">
           Loves: @hamster2.Loves
            <br />
           Fav Food: @hamster2.FavFood
        </p>
       
    </div>
</div>

</div>
<hr />
@if (oldHamster1 != null && oldHamster2 != null)
{
    
<PreviousHamsterComponent Hamster1="oldHamster1" Hamster2="oldHamster2" 
Hamster1Procent="hamster1Procent" Hamster2Procent="hamster2Procent">
</PreviousHamsterComponent>
}