@page "/Add"
@inject HamsterService hamsterService;

<div class="card" style="width: 18rem;">
    <h3>Add Hamster</h3>
    <EditForm Model="hamster" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-group">
            <label for="@hamster.Name">Name</label>
            <input @bind-value="@hamster.Name" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="@hamster.Age">Age</label>
            <select @bind="@hamster.Age" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                @*Dem Blir typ aldrig äldre än 5 ändå. RIP*@
            </select>
        </div>
        <div class="form-group">
            <label for="@hamster.FavFood">Favourite Food</label>
            <input @bind-value="@hamster.FavFood" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="@hamster.Loves">Loves</label>
            <input @bind-value="@hamster.Loves" type="text" class="form-control">
        </div>

        <label for="@hamster.ImgName">Choose Image</label>
        <div class="input-group mb-3">
            <select @onchange="ShowImg" class="form-control">
                @for (var i = 1; i <= 40; i++) //hård-kodat för dem 40 statiska bilder vi har
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div>
            <img class="hamster-bild" src="@CompleteSrc" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

@code {
    private Hamster hamster { get; set; } = new Hamster();
    private string href = "/images/hamsters/hamster-";
    private string num { get; set; }
    private string CompleteSrc{ get; set; }
    private bool isSuccess { get; set; }

    public string FormSubmitMessage { get; set; } = "Hamster Not added";

    private string GetJpgSrc()
    {
        string src = href + num + ".jpg";
        return src;
    }
    private void ShowImg(ChangeEventArgs e)
    {
        num = e.Value as string;
        CompleteSrc = GetJpgSrc();
    }
    public void HandleValidSubmit()
    {
            hamster.ImgName = CompleteSrc;
            hamsterService.AddHamster(hamster);
            FormSubmitMessage = "Hamster Added";
            hamster = new Hamster();
            isSuccess = true;
    }
    public void HandleInvalidSubmit() => FormSubmitMessage = "Invalid Data Submitted";
}
