@using DataLibrary.Models


<div class="row justify-content-center text-center">
    <HamsterComponent hamster="@Hamster1"></HamsterComponent>
    <HamsterComponent hamster="@Hamster2"></HamsterComponent>
</div>

<div class="row justify-content-center text-center">
    <div class="card col col-sm-4 d-flex">
        
            <div class="card-header">
                <h4>Match Won by: @Hamster1.Name !</h4>
            </div>
            <div class="card-body">
                <p>% procent många håller med dig och tycker @Hamster1.Name är coolare än @Hamster2.Name</p>
            </div>
        
    </div>
</div>

@code {
    [Parameter]
    public Hamster Hamster1 { get; set; }
    [Parameter]
    public Hamster Hamster2 { get; set; }
    [Parameter]
    public Match match { get; set; }
}
